@model LibraryInformationSystem.Models.Publisher

@{
    Layout = "~/Views/Publishers/_LayoutPublishers.cshtml";
}

<h3>Details</h3>
<hr />
<div>
    @Html.Partial("_Details", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PublisherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
