@model LibraryInformationSystem.Models.Author

@{
    Layout = "~/Views/Authors/_LayoutAuthors.cshtml";
}

<h3>Details</h3>
<hr />
<div>
    @Html.Partial("_Details", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
